body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.home, .movie-details {
  padding: 20px;
  display: block;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  text-decoration: none;
  color: black;
  display: block;
}

.movie-card img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  
}

.movie-card h3 {
  text-align: center;
}
